
if (article)
  .article
    a(href='/articles/' + article.title.replace(/ /g, "-"))
      h2 #{article.title}
        
    span.small
      | posted #{formatDate(article.createdAt)} 
    if article.tags.length  
      span.small.right
        | tags: 
        each tag in article.tags.split(',')
          a(href="/tags/" + tag) 
            span
              | #{tag}
    .article-content(class="#{article.id}")
      div(id=article.id)
      input.content(type="hidden", name=article.id, value=article.content)
