
if (article)
  a(href='/articles/' + article.title)
      h2 #{article.title}
      
    span 
      | by #{article.user.name} on #{formatDate(article.createdAt)} 
    if article.tags.length  
      span.right
        | tags: 
        each tag in article.tags.split(',')
          a(href="/tags/" + tag) 
            span
              | #{tag}
    .article(class="#{article.id}")
      div(id=article.id)
      input.content(type="hidden", name=article.id, value=article.content)
