
if (article)
  - var articleURL = '/articles/' + article.title.replace(/ /g, "-")
  a(href=articleURL)
    h2 #{article.title}
      
  span.small
    | posted #{formatDate(article.createdAt)} 
  if article.tags.length  
    span.small.right
      | tags: 
      each tag in article.tags.split(',')
        a(href="/tags/" + tag) 
          span
            | #{tag}
            
  .article-content!= article.content
